/*
 * Style tweaks
 * --------------------------------------------------
 */
html,
body {
  overflow-x: hidden; /* Prevent scroll on narrow devices */
}
body {
  padding-top: 70px;
}
footer {
  padding: 30px 0;
}

/*
 * Off Canvas
 * --------------------------------------------------
 */
@media screen and (max-width: 767px) {
  .row-offcanvas {
    position: relative;
    -webkit-transition: all .25s ease-out;
         -o-transition: all .25s ease-out;
            transition: all .25s ease-out;
  }

  .row-offcanvas-right {
    right: 0;
  }

  .row-offcanvas-left {
    left: 0;
  }

  .row-offcanvas-right
  .sidebar-offcanvas {
    right: -50%; /* 6 columns */
  }

  .row-offcanvas-left
  .sidebar-offcanvas {
    left: -50%; /* 6 columns */
  }

  .row-offcanvas-right.active {
    right: 50%; /* 6 columns */
  }

  .row-offcanvas-left.active {
    left: 50%; /* 6 columns */
  }

  .sidebar-offcanvas {
    position: absolute;
    top: 0;
    width: 50%; /* 6 columns */
  }
}

.ques-view, .ques-list{
  /*padding-left: 50px;*/
}

.problem_2tXnk{
  flex-grow: 1;
  overflow-x: hidden;
}

ol, ul, dl{
  margin-top: 0;
  margin-bottom: 1rem;

}

ol {
  display: block;
  list-style-type:upper-alpha;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}

.problemLabel {
  /*flex-basis: auto;*/
  /*margin-right: 0.5rem;*/
  /*white-space: nowrap;*/
  font-weight: bold;
  display: inline-block;
}

.problemListItem {
  /*border-bottom: 1px solid #e5e5e5;*/
  /*padding: 8px 16px 0;*/
}

.problem {
  /*flex-grow: 1;*/
  /*overflow-x: hidden;*/
}